<div id="edit-container" layout="column" layout-align="start center">
  <div>
    <div id="editctrl" flex-order-gt-sm="1" flex="grow">
      <h2>Create new journey:</h2>
      <p class="error" ng-model="error" ng-show="error">{{ error }}</p>
      <form name="journeyForm">
        <md-input-container>
          <label>Jouney Name</label>
          <input name="title" ng-model="map.title" required>
          <div ng-messages="journeyForm.title.$error">
            <div ng-message="required">Your journey needs a title!</div>
          </div>
        </md-input-container>
        <md-input-container>
          <label>Short Description</label>
          <input name="description" ng-model="map.description" required>
          <div ng-messages="journeyForm.description.$error">
            <div ng-message="required">This is required!</div>
          </div>
        </md-input-container>
        <md-input-container>
          <label>Author</label>
          <input name="author" ng-model="map.author" required>
          <div ng-messages="journeyForm.author.$error">
            <div ng-message="required">Give yourself some credit.</div>
          </div>
        </md-input-container>
        <md-input-container>
          <label>Image</label>
          <input name="image" required ngf-select="upload($file)" ngf-resize="{ratio: '700:400', centerCrop: true}" ng-model="map.image" accept="image/*">
          <div ng-messages="journeyForm.image.$error">
            <div ng-message="required">A journey's no good without a map.</div>
          </div>
        </md-input-container>
      </form>
    </div>
    <div class="map-container" ng-show="map.image" md-whiteframe="3" flex-order-gt-sm="2" flex-gt-sm="nogrow" flex="grow">
      <editor map="map" error="error"></editor>
    </div>
    <div class="map-container" ng-show="!map.image" id="background-default" md-whiteframe="3" flex-order-gt-sm="2" flex-gt-sm="nogrow" flex="grow"></div>
  </div>
</div>
