<div id="ctrls" class="clearfix">
  <div class="left">
    <h3>Click on the map to add points:</h3>
  </div>
  <div class="right">
    <md-switch class="md-primary" ng-disabled="!editing" ng-model="dataPointMode">
      Info-box Mode
      <md-tooltip md-direction="top">
          Use this if you want an info box on your next point!
      </md-tooltip>
    </md-switch>
    <div class="buttons">
      <md-button ng-show="!editing" ng-click="editing = true">Edit</md-button>
      <md-button ng-show="editing" ng-click="editing = false">Stop Editing</md-button>
      <md-button ng-click="save()">Save</md-button>
    </div>
  </div>
</div>
<div ngf-background="map.image" id="map-edit">
  <md-progress-linear ng-show="saving" md-mode="indeterminate"></md-progress-linear>
</div>
