editor {
  #ctrls {
    h3 {
      display: block;
      margin: 12px 0 0 12px;
    }
    md-switch {
      display:inline;
      .md-container {
        margin-top: 12px;
      }
      .md-label {
        margin-top: 9px;
      }
    }
  }
  svg {
    height: 400px;
    width: 700px;
    path {
      stroke-dasharray: 10px 5px;
      stroke-width: 3;
      stroke: blue;
      fill: none;
    }
    rect {
      fill: none;
      pointer-events: all;
    }
    circle {
      fill: blue;
      stroke: blue;
      fill-opacity: .2;
      cursor: move;
    }
    .selected {
      fill: #ff7f0e;
      stroke: #ff7f0e;
    }
  }
  @import 'modules/mapeditor/editor/infoboxmodal/infoboxmodal.less';
}
