[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

md-toolbar {
  h1 {
    margin-left: 20px;
  }
}

.page-body {
  .map-container {
    width: 700px;
    h2 {
      margin-left: 20px;
    }
    #map {
      #map-svg {
        width: 700px;
        height: 400px;
        background-color: #cc9900;
      }
      #map-stroke {
        stroke: blue;
        stroke-width: 4;
        fill: none;
      }
    }
  }
}