[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

md-toolbar {
  h1 {
    margin-left: 20px;
  }
}

.page-body {
  .map-container {
    width: 700px;
    h2 {
      margin-left: 20px;
    }
  }
}