[ng\:cloak],
[ng-cloak],
.ng-cloak {
  display: none !important;
}
.toolbar {
  height: 40px;
  margin-bottom: 10px;
  background-color: #3f51b5;
}
.toolbar h1 {
  color: white;
  margin: 0 0 0 20px;
  font-size: 30px;
}
.page-body .map-container {
  width: 700px;
}
.page-body .map-container h2,
.page-body .map-container p {
  margin-left: 10px;
}
.page-body .map-container h2 {
  margin-bottom: 0;
}
.page-body .map-container #map {
  position: relative;
}
.page-body .map-container #map #map-svg {
  width: 700px;
  height: 400px;
  z-index: 1;
}
.page-body .map-container #map #map-stroke {
  stroke: blue;
  stroke-width: 4;
  fill: none;
}
.page-body .map-container #map info {
  width: 150;
  height: 70;
  background-color: #FFF;
  border: 2px solid #000;
  border-radius: 4px;
  display: none;
  position: absolute;
  z-index: 2;
}
.page-body .map-container #map info .triangle {
  width: 150px;
  height: 30px;
  position: absolute;
  bottom: -30px;
  background-image: url('img/triangle.png');
}
.page-body #sidenav {
  padding: 10px;
  width: 700px;
}
@media (min-width: 960px) {
  .page-body #sidenav {
    width: 320px;
  }
}
